<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h3>チーム作成</h3>
        <%= form_with model: @team do |f| %>
          <div>
            <%= f.label :チーム名 %>
            <%= f.text_field :name,class: "form-control", required: true, size: 30%>
          </div>
        
          <div>
            <%= f.label :紹介文 %>
            <%= f.text_area :introduction, class: "form-control", size: "30x3"%>
          </div>
        
          <div>
            <%= f.label :グループ画像 %>
            <%= f.file_field :image, accept: 'image/*' %>
          </div>
        
          <div>
            <%= f.submit 'チーム作成',class: 'btn btn-info' %>
          </div>
        <% end %>
    </div>
  </div>
</div>
