<div class = "container">
  <div class = "row">
    <h2><%= @team.name %></h2>
    <table class="table table-hover table-inverse">
      <thead>
        <tr>
          <th></th>
          <th>リーダー</th>
          <th>紹介</th>
          <th>メンバー</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td><%= image_tag @team.get_team_image(100,100) %></td>
            <td><%= link_to @team.owner.name, user_path(@team.owner),class: "text-dark" %></td>
            <td><%= safe_join(@team.introduction.split("\n"),tag(:br)) %></td>
            <td>
              <%= link_to "メンバー一覧", team_members_path(@team) %>
              <%="(#{@team.team_users.count}人)" %><br>
              <% if @team.owner_id == current_user.id %>
                <%= link_to "承認待ち",team_permits_path(@team) %>
                <%= "(#{@team.permits.count}人)" %>
              <% end %>
            </td>
            <td>
              <% if @team.owner_id == current_user.id %>
                <%=link_to "チーム編集", edit_team_path(@team), class: "btn btn-sm btn-success"%>
              <%elsif @team.team_users.exists?(user_id: current_user.id) %>
                <%= link_to "脱退する", team_team_users_path(@team), method: :delete, class: "btn btn-sm btn-danger" , data: { confirm: "本当にチームを退出しますか？" }%>
              <% elsif @team.permits.exists?(user_id: current_user.id) %>
                <%= link_to "申請取消", team_permits_path(@team), method: :delete, class: "btn btn-sm btn-danger" %>
              <% else %>
                <%= link_to "参加申請", team_permits_path(@team), method: :post, class: "btn btn-sm btn-success" %>
              <% end %>
            </td>
          </tr>
      </tbody>
    </table>
  </div>
  <div class = "row">
    <!--閲覧者がチームに所属している場合-->
    <% if @team.team_member_by?(current_user) %>
      <% @diaries.each do |diary| %>
        <div class="col-md-6 mb-4">
          <div class="card">
            <div class="card-body py-1">
              <div class ="d-flex align-items-center ">
                
                <div class="d-flex flex-column col-">
                  <div class="rounded-circle overflow-hidden mr-3" style="width: 40px; height: 40px;">
                    <%= image_tag diary.user.get_profile_image(50, 50,) %>
                  </div>
                  <div>
                    <p class="mb-0"><%= link_to diary.user.name, user_path(diary.user), class: "text-dark" %></p>
                  </div>
                </div>
                <div class="mx-auto">
                  <h5 class="card-title text-center"><%= link_to diary.title, diary_path(diary) %></h5>
                </div>
              </div>
              <diV class="d-flex">
                
                <div class = "mr-auto">
                    <p class="text-muted"><%= diary.created_at.strftime("%Y-%m-%d") %></p>
                </div>
                <div class="d-flex justify-content-end mt-auto">
                  <p class="mr-3"><i class="fas fa-heart"></i> <%= diary.favorites.count %> いいね</p>
                  <p><i class="fas fa-comment"></i> <%= diary.diary_comments.count %> 件</p>
                </div>
              </diV>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="row justify-content-center m-3 p-3">
    <%= paginate @diaries %>
  </div>
</div>