<p id="js-comment-label-<%= diary_comment.id %>"> <%= safe_join(diary_comment.comment.split("\n"),tag(:br)) %></p>
<p id="js-comment-post-error-<%= diary_comment.id %>" class="text-danger"></p>

<%= form_with model: [diary,diary_comment], local: false do |f| %>
  <%= f.text_area :comment, id: "js-textarea-comment-#{diary_comment.id}",class: "form-control comment-post-error", style: "display:none;" %>

  <div id="js-comment-button-<%= diary_comment.id %>" style="display: none;">
    <button data-cancel-id=<%= diary_comment.id %> type="button" class="comment-button comment-cancel-button">キャンセル</button>
    <%= f.submit "更新", class: "comment-button comment-update-button" %>
  </div>
<% end %>