<p id="js-comment-label-<%= diary_comment.id %>"><%= diary_comment.comment %></p>
<p id="js-comment-post-error-<%= diary_comment.id %>" class="text-danger"></p>

<%= form_with model: [diary,diary_comment], local: false do |f| %>
  <%#= f.text_area :comment, id: "js-textarea-comment-#{diary_comment.id}",class: "form-control comment-post-error", style: "display:none;" %>
  <%= f.text_area :comment, id: "js-textarea-comment-#{diary_comment.id}",class: "form-control comment-post-error" %>

  <!--<div id="js-comment-button-<%#= diary_comment.id %>" style="display: none;">-->
  <!--  <button data-cancel-id=<%#= diary_comment.id %> type="button" class="comment-button comment-cancel-button">キャンセル</button>-->
  <!--  <%#= f.submit "更新", class: "comment-button comment-update-button" %>-->
  <!--</div>-->
  <div id="js-comment-button-<%= diary_comment.id %>">
    <button data-cancel-id=<%= diary_comment.id %> type="button" class="comment-button comment-cancel-button">キャンセル</button>
    <%= f.submit "更新", class: "comment-button comment-update-button" %>
  </div>
<% end %>