<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="d-flex flex-column align-items-center">
        <h2 class="text-center mb-4">新規登録</h2>
          <%= form_with model: @user, url: user_registration_path do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="mb-3">
              <%= f.label "アカウント名", class: "form-label" %>
              <%= f.text_field :name, class: "form-control", required: true, size: 30 %>
            </div>
  
            <div class="mb-3">
              <%= f.label "メールアドレス", class: "form-label" %>
              <%= f.email_field :email, class: "form-control", required: true %>
            </div>
  
            <div class="mb-3">
              <%= f.label "パスワード", class: "form-label" %>
              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> 文字以上)</em>
              <% end %><br/>
              <%= f.password_field :password, class: "form-control", required: true %>
            </div>
  
            <div class="mb-3">
              <%= f.label "パスワード確認", class: "form-label" %>
              <%= f.password_field :password_confirmation, class: "form-control", required: true %>
            </div>
  
            <div class="text-center">
              <%= f.submit "新規登録", class: "btn btn-primary" %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>