
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="d-flex flex-column align-items-center">
        <h2 class="text-center mb-4">活動記録編集</h2>
        <%= form_with model: @diary, url: diary_path(@diary) do |f| %>
        <div class="mb-2">
          <h4>投稿チーム</h4>
          <%= f.collection_select :team_id, current_user.teams, :id, :name, class: "form-control",required: true, include_blank: "選択してください" %>
        </div>
        <div class="mb-2">
          <h4>タイトル</h4>
          <%= f.text_field :title, class: "form-control", required: true, size: "30" %>
        </div>
        <div class="mb-2">
          <h4>活動内容</h4>
          <%= f.rich_text_area :body,required: true %>  
        </div>
          <%= f.submit '編集',class: "btn btn-primary" %>
        <% end %>
        <%= link_to "戻る", :back %>>
      </div>
    </div>
  </div>
</div>