<div class="container mt-5">
  <div class="row border-bottom mb-3 p-2 align-items-center">
    


    <div class="col-2">
      <%= image_tag @user.get_profile_image(100,100) %>
    </div>
    <div class="col-4">
      <h3><%= @user.name %></h3>
    </div>
    <div class="col-6">
      <h5><%= @user.introduction %></h5>
    </div>
    <p>
      <% if @user == current_user %>
        <%= link_to edit_user_path(@user) do %>
          <i class="bi bi-gear"></i>ユーザー編集
        <% end %>
      <% end %>
    </p>
  </div>
  


  <div class="row">
    <div class="mt-2">
      <!--現在のユーザーがどこのチームにも所属していない場合-->
      <% if @user == current_user && current_user.team_users.blank? %>
        <h5>チームに参加するか作成してください</h5>
        <%= render "searches/form" %>
        <%= link_to "チーム作成", new_team_path %>
      <% end %>
    </div>
    <!--表示されたユーザーと閲覧者の所属しているチームが同じ場合、そのチームに投稿した活動記録を表示する-->
    <% @diaries.each do |diary| %>
      <% current_user.teams.each do |my_team| %>
        <% if diary.team_id == my_team.id %>
          <div class="col-md-6 mb-4">
            <div class="card">
              <div class="card-body py-1">
                <div class ="d-flex align-items-center ">
                  
                  <div class="d-flex flex-column col-3">
                    <div class="rounded-circle overflow-hidden mr-3">
                      <%= image_tag diary.user.get_profile_image(40,40) %>
                    </div>
                    <div>
                      <p class="mb-0"><%= diary.user.name %></p>
                    </div>
                  </div>
                  <div class="mx-auto">
                    <h5 class="card-title text-center"><%= link_to diary.title, diary_path(diary) %></h5>
                  </div>
                </div>
                <diV class="d-flex">
                  
                  <div class = "mr-auto">
                      <p class="text-muted"><%= diary.created_at.strftime("%Y-%m-%d") %></p>
                  </div>
                  <div class="d-flex justify-content-end mt-auto">
                    <p class="mr-3"><i class="fas fa-heart"></i> <%= diary.favorites.count %> いいね</p>
                    <p><i class="fas fa-comment"></i> <%= diary.diary_comments.count %> 件</p>
                  </div>
                </diV>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="row justify-content-center m-3 p-3">
    <%= paginate @diaries %>
  </div>
</div>