!-- ユーザーの詳細 -->
<div>
  <%= image_tag @user.get_profile_image(100,100) %>
  <h3><%= @user.name %></h3>
  <h5><%= @user.introduction %></h5>
  <% if @user == current_user %>
    <%= link_to "ユーザー編集",  edit_user_path(@user) %>
  <% end %>
</div>

<!-- ユーザーの投稿一覧 -->

<div>
  <table>
    <thead>
    <tr>
      <th>タイトル</th>
      <th>チーム名</th>
    </tr>
    </thead>
    <tbody>
      
    <% @diaries.each do |diary| %>
      <% current_user.teams.each do |my_team| %>
        <% if diary.id == my_team.id %>
          <tr>
            <td><%= diary.user.name %></td>
            <td><%= link_to diary.title, team_diary_path(diary.team_id,diary.id) %></td>
            <td><%= diary.team.name %></td>
            <td><%= diary.favorites.count %></td>
            <td><%= diary.diary_comments.count %></td>
            <td><%= diary.created_at.strftime('%Y/%m/%d') %></td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
    </tbody>
  </table>
</div>