<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="d-flex flex-column align-items-center">
        <h2 class="text-center mb-4">ログイン</h2>
          <%= form_with model: @user, url: user_session_path do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="mb-3">
              <%= f.label :メールアドレス, class: "form-label" %>
              <%= f.email_field :email, class: "form-control", required: true, size: 30 %>
            </div>
  
            <div class="mb-3">
              <%= f.label :パスワード, class: "form-label" %>
              <%= f.password_field :password, class: "form-control", required: true %>
            </div>
  
            <div class="text-center">
              <%= f.submit "ログイン", class: "btn btn-primary" %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>








