<!DOCTYPE html>
<html>
  <head>
    <title>ScrumGoal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <script src="https://kit.fontawesome.com/ac6f75fa0f.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--アクションテキストの表示を解決するため-->
    <%= stylesheet_link_tag "actiontext", "data-turbo-track": "reload" %>
  </head>

  <body>
    <%= render 'layouts/header'%>
    <div>
      <% flash.each do |message_type, message| %>
        <p class="alert alert-<%= message_type %>"><%= message %></p>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
